In [20]:
import numpy as np
from basic_function import *
from collections import OrderedDict

In [2]:
name_list = ["user_id","seller_id", "brand_id", "cat_id"]

In [3]:
logs_df = get_train_log(None)

In [4]:
info = get_user_info()
info.fillna(0, inplace=True)

In [5]:
info = info.astype(int)

In [6]:
# logs_df = logs_df[logs_df["action_type"] == 2]

In [7]:
logs_df

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type
0,328862,323294,833,2882,2661,829,0
1,328862,844400,1271,2882,2661,829,0
2,328862,575153,1271,2882,2661,829,0
3,328862,996875,1271,2882,2661,829,0
4,328862,1086186,1271,1253,1049,829,0
5,328862,623866,1271,2882,2661,829,0
6,328862,542871,1467,2882,2661,829,0
7,328862,536347,1095,883,1647,829,0
8,328862,364513,1271,2882,2661,829,0
9,328862,575153,1271,2882,2661,829,0
10,328862,239288,602,420,4953,801,0
11,328862,950862,962,4605,7622,801,0
12,328862,262500,602,420,4953,801,0
13,328862,1064265,614,4605,7622,801,0
14,328862,809148,602,420,4953,801,0
15,328862,197239,602,420,4953,801,0
16,328862,43367,1505,3828,1446,526,0
17,328862,844535,302,3354,883,526,0
18,328862,886633,1505,3828,1446,526,0
19,328862,81766,614,4605,7622,709,2
20,328862,524981,664,2382,1272,602,0
21,328862,81766,614,4605,7622,709,0
22,328862,208525,267,3073,8126,805,0
23,328862,853901,267,3073,8126,805,2
24,328862,1102596,267,3073,8126,805,2
25,328862,963870,267,3073,8126,805,2
26,328862,813647,267,3073,8126,805,2
27,328862,208525,267,3073,8126,805,2
28,328862,943106,662,3354,883,526,0
29,328862,950862,962,4605,7622,709,0
...,...,...,...,...,...,...,...
54925300,208016,188869,898,3716,7995,1110,0
54925301,208016,51712,898,3763,8434,1110,0
54925302,208016,51712,898,3763,8434,1110,0
54925303,208016,899591,898,3716,2946,1110,0
54925304,208016,558670,898,1346,7995,1110,0
54925305,208016,869502,898,3716,5508,1110,0
54925306,208016,272094,898,1346,7995,1110,0
54925307,208016,107662,898,1346,7995,1110,0
54925308,208016,51712,898,3763,8434,1110,0
54925309,208016,514594,898,3763,8434,1110,0
54925310,208016,51712,898,3763,8434,1110,0
54925311,208016,97934,898,3716,7995,1110,0
54925312,208016,540243,898,1346,7995,1110,0
54925313,208016,722838,898,3716,5508,1110,0
54925314,208016,48664,898,1346,7995,1110,0
54925315,208016,952056,898,3763,8434,1110,0
54925316,208016,952056,898,3763,8434,1110,0
54925317,208016,952056,898,3763,8434,1110,0
54925318,208016,572517,898,4992,6137,1110,0
54925319,208016,188869,898,3716,7995,1110,0
54925320,208016,952056,898,3763,8434,1110,0
54925321,208016,272094,898,1346,7995,1110,0
54925322,208016,952056,898,3763,8434,1110,0
54925323,208016,48664,898,1346,7995,1110,0
54925324,208016,466472,898,1346,7995,1110,0
54925325,208016,107662,898,1346,7995,1110,0
54925326,208016,1058313,898,1346,7995,1110,0
54925327,208016,449814,898,983,7995,1110,0
54925328,208016,634856,898,1346,7995,1110,0
54925329,208016,272094,898,1346,7995,1111,0

In [8]:
# logs_df.drop_duplicates(subset=name_list, keep='first')

In [9]:
logs_df.fillna(0, inplace=True)

In [10]:
# logs_df = logs_df.loc[:, name_list+["time_stamp"]]

In [11]:
logs_df = logs_df.astype(int)

In [12]:
replace = OrderedDict({name_list[i]: OrderedDict(
    zip(set(logs_df.loc[:, name_list[i]].values), list(range(len(set(logs_df.loc[:, name_list[i]].values)))))) for i in range(len(name_list))})

In [13]:
for i in range(len(name_list)):
    logs_df[name_list[i]] = logs_df[name_list[i]].map(replace[name_list[i]])

In [14]:
info["user_id"] = info["user_id"].map(replace["user_id"])

In [18]:
len(replace["brand_id"].keys())

8443

In [19]:
save_dict(replace, "id_dict.txt")

In [16]:
logs_df.sort_values(by=["time_stamp"], axis=0, inplace=True)
logs_df.sort_values(by=["user_id"], axis=0, kind="mergesort", inplace=True)

In [17]:
logs_df.index=range(len(logs_df))

In [18]:
logs_df

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type
0,0,543397,274,2244,4728,1009,0
1,0,452837,274,2244,4728,1009,0
2,0,779078,274,2244,4728,1009,0
3,0,779078,274,2244,4728,1009,0
4,0,181459,274,2244,4728,1009,0
5,0,504149,1017,924,7370,1011,0
6,0,504149,1017,924,7370,1011,2
7,0,504149,1017,924,7370,1011,0
8,0,504149,1017,924,7370,1011,0
9,0,112203,1244,4025,1463,1018,0
10,0,112203,1244,4025,1463,1018,0
11,0,411984,1244,4176,1953,1018,0
12,0,556107,1244,738,6791,1018,0
13,0,112203,1244,4025,1463,1018,0
14,0,112203,1244,4025,1463,1021,0
15,0,112203,1244,4025,1463,1021,2
16,0,1110495,986,1018,6774,1111,0
17,0,1110495,986,1018,6774,1111,0
18,0,1110495,986,1018,6774,1111,0
19,0,1110495,986,1018,6774,1111,0
20,0,1110495,986,1018,6774,1111,0
21,0,1110495,986,1018,6774,1111,2
22,0,1110495,986,1018,6774,1111,2
23,0,1110495,986,1018,6774,1111,2
24,0,1110495,986,1018,6774,1111,2
25,0,1110495,986,1018,6774,1111,0
26,0,638653,387,470,3417,1111,0
27,0,1110495,986,1018,6774,1111,0
28,0,452339,387,4334,645,1111,0
29,0,1110495,986,1018,6774,1111,0
...,...,...,...,...,...,...,...
54925300,424169,795753,653,4267,1636,1106,0
54925301,424169,378771,653,4267,1636,1106,0
54925302,424169,795753,653,4267,1636,1107,0
54925303,424169,795753,653,4267,1636,1107,0
54925304,424169,795753,653,4267,1636,1107,0
54925305,424169,795753,653,4267,1636,1107,0
54925306,424169,795753,653,4267,1636,1107,0
54925307,424169,795753,653,4267,1636,1107,0
54925308,424169,678194,1386,4962,1984,1107,0
54925309,424169,795753,653,4267,1636,1108,0
54925310,424169,795753,653,4267,1636,1108,0
54925311,424169,795753,653,4267,1636,1108,0
54925312,424169,795753,653,4267,1636,1108,0
54925313,424169,795753,653,4267,1636,1108,0
54925314,424169,246060,265,1081,2162,1108,0
54925315,424169,795753,653,4267,1636,1108,0
54925316,424169,365302,758,3735,3112,1111,0
54925317,424169,795753,653,4267,1636,1111,2
54925318,424169,802762,599,3735,3112,1111,0
54925319,424169,424015,758,524,5417,1111,0
54925320,424169,701110,599,524,5417,1111,0
54925321,424169,604925,599,3735,3112,1111,0
54925322,424169,795753,653,4267,1636,1111,0
54925323,424169,365302,758,3735,3112,1111,0
54925324,424169,291927,599,3735,3112,1111,0
54925325,424169,416729,599,3735,3112,1111,0
54925326,424169,81301,599,3735,3112,1111,0
54925327,424169,7757,758,3735,3112,1111,0
54925328,424169,365302,758,3735,3112,1111,0
54925329,424169,416729,599,3735,3112,1111,0

In [19]:
logs_df.to_pickle("data.pkl",compression="zip")

In [20]:
info.fillna(0, inplace=True)

In [21]:
info.set_index("user_id", inplace=True)

In [22]:
info = info.sort_values(by="user_id")

In [23]:
info

         age_range  gender
user_id
0                3       1
1                3       0
2                3       0
3                0       0
4                5       0
5                4       0
6                4       0
7                4       0
8                5       0
9                4       0
10               4       1
11               4       0
12               2       0
13               6       0
14               3       0
15               5       1
16               2       1
17               3       1
18               0       1
19               5       0
20               6       0
21               4       1
22               6       0
23               5       0
24               4       0
25               0       0
26               5       1
27               5       0
28               4       1
29               3       0
...            ...     ...
424140           0       0
424141           3       0
424142           0       1
424143           4       1
424144           4       2
424145           0       0
424146           3       0
424147           2       1
424148           0       1
424149           3       1
424150           3       1
424151           6       0
424152           3       0
424153           0       0
424154           6       0
424155           0       2
424156           3       0
424157           3       0
424158           0       0
424159           2       0
424160           3       0
424161           4       0
424162           2       0
424163           7       0
424164           3       1
424165           2       1
424166           3       1
424167           5       0
424168           0       0
424169           0       1

[424170 rows x 2 columns]

In [24]:
info.to_pickle("user_info.pkl",compression="zip")