In [1]:
import numpy as np
from basic_function import *

In [2]:
logs_df = get_train_log(None)

In [7]:
logs_df.loc[:, ["user_id","seller_id", "brand_id"]]

          user_id  seller_id  brand_id
0          328862       2882      2661
1          328862       2882      2661
2          328862       2882      2661
3          328862       2882      2661
4          328862       1253      1049
5          328862       2882      2661
6          328862       2882      2661
7          328862        883      1647
8          328862       2882      2661
9          328862       2882      2661
10         328862        420      4953
11         328862       4605      7622
12         328862        420      4953
13         328862       4605      7622
14         328862        420      4953
15         328862        420      4953
16         328862       3828      1446
17         328862       3354       883
18         328862       3828      1446
19         328862       4605      7622
20         328862       2382      1272
21         328862       4605      7622
22         328862       3073      8126
23         328862       3073      8126
24         328862       3073      8126
25         328862       3073      8126
26         328862       3073      8126
27         328862       3073      8126
28         328862       3354       883
29         328862       4605      7622
...           ...        ...       ...
54925300   208016       3716      7995
54925301   208016       3763      8434
54925302   208016       3763      8434
54925303   208016       3716      2946
54925304   208016       1346      7995
54925305   208016       3716      5508
54925306   208016       1346      7995
54925307   208016       1346      7995
54925308   208016       3763      8434
54925309   208016       3763      8434
54925310   208016       3763      8434
54925311   208016       3716      7995
54925312   208016       1346      7995
54925313   208016       3716      5508
54925314   208016       1346      7995
54925315   208016       3763      8434
54925316   208016       3763      8434
54925317   208016       3763      8434
54925318   208016       4992      6137
54925319   208016       3716      7995
54925320   208016       3763      8434
54925321   208016       1346      7995
54925322   208016       3763      8434
54925323   208016       1346      7995
54925324   208016       1346      7995
54925325   208016       1346      7995
54925326   208016       1346      7995
54925327   208016        983      7995
54925328   208016       1346      7995
54925329   208016       1346      7995

[54925330 rows x 3 columns]

In [ ]:
logs_df.loc[:, ["user_id","seller_id", "brand_id"]].values

In [8]:
logs_df.loc[:, ["user_id","seller_id", "brand_id"]].values

array([[328862,   2882,   2661],
       [328862,   2882,   2661],
       [328862,   2882,   2661],
       ...,
       [208016,    983,   7995],
       [208016,   1346,   7995],
       [208016,   1346,   7995]], dtype=int64)

In [14]:
train_data = logs_df.loc[:, ["user_id","seller_id", "brand_id"]].values

In [13]:
np.array([len(set(logs_df.loc[:, ["user_id","seller_id", "brand_id"]].values.T[i])) for i in range(3)])

[424170, 4995, 8443]

In [15]:
nums_type = np.array([len(set(logs_df.loc[:, ["user_id","seller_id", "brand_id"]].values.T[i])) for i in range(3)])

In [16]:
np.savez("train.npz", train_data=train_data, nums_type=nums_type)